html {
    position: relative;
}

html, body {
    height: 100%
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #E60000;
    position: relative;
}

.affix-top {
    position: relative;
}

.affix {
    top: 20px;
}

.affix,
.affix-bottom {
    width: 213px;
}

.affix-bottom {
    position: absolute;
}

.wrapper header {
    margin-top: -100px;
}

.login-container {
    margin-top: 50px;
}

/* Wrapper for page content to push down footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -300px;
    /* Pad bottom by footer height */
    padding: 0 0 300px;
}

::-moz-selection {
    text-shadow: none;
    background: #E60000;
}

::selection {
    text-shadow: none;
    background: #E60000;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #E60000;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #E60000;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.btn-primary {
    border-color: #E60000;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #E60000;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #E60000;
    background-color: #E60000;
}

.btn-primary .badge {
    color: #E60000;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #E60000;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #E60000;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #A10000;
    color: #fff;
    background-color: #A10000;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #E60000;
    background-color: #E60000;
}

.btn-xl .badge {
    color: #E60000;
    background-color: #fff;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #E60000;
    line-height: 13px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #E60000;
    background-color: #E60000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #E60000;
}

.navbar-default .nav li a {
    /* text-transform: uppercase; */
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #E60000;
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #E60000;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}

.navbar-default .dropdown-menu {
    background-color: #000000;
    border-color: #111;
}

.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #E60000;
}

.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #A10000;
}

header {
    text-align: center;
    color: #fff;
}

header .container {
    width: 100%;
    padding: 0px;
    position: relative;
}

header .intro-text {
    padding-top: 200px;
    padding-bottom: 100px;

}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #ff0000;
}

header.heropicture {
    background-attachment: scroll;
    background-image: url(/img/homepage.jpg);
    background-position: center center;
    background-repeat: none;
    display: none;
}

header.herovideo {
    margin-top: -100px;
    display: none;
}

.backgroundVideo {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: auto;
    margin-left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.heroOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    height: 100%;
}

.img-rounded-team {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.team .img-responsive {
    margin: 0 auto;
}

footer h2 {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #ff0000;
}

footer {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c1c3c6;
    background-color: #000;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 300px;
}

footer ul li {
    line-height: 30px;
}

footer a {
    color: #ff0000;
}

footer h2 {
    margin-top: 0px;
}

footer .container {
    padding-top: 40px;
}

.btn-circle {
    background-color: #efefef;
    border: 1px solid #eee;
    border-radius: 35px;
    color: #fff;
    font-size: 41px;
    height: 62px;
    line-height: 1.1;
    padding: 6px 0;
    text-align: center;
    width: 64px;
}

.fill {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
}

/* Hide the email http://www.labnol.org/internet/hide-email-address-web-pages/28364/ */
my-email::after {
    content: attr(data-domain);
}

my-email::before {
    content: attr(data-user) "\0040";
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.wrapper {
    margin-top: 80px;
}

.searchbtn {
    display: block;
    position: relative;
    text-align: right;
    padding-right: 5px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .navbar-default {
        background-color: #000;
        border-color: rgba(255, 255, 255, .02);
        opacity: 0.9;
    }

    header.heropicture {
        display: block;

    }

    header .intro-text .intro-lead-in {
        font-size: 18px;
        line-height: 22px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 25px;
        font-size: 25px;
        line-height: 30px;
    }

    header .intro-text {
        padding-top: 150px;
        padding-bottom: 30px;
    }

    .wrapper {
        margin-top: 50px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .navbar-default {
        background-color: #000;
        border-color: rgba(255, 255, 255, .02);
        opacity: 0.9;
    }

    header.heropicture {
        display: block;
    }

    .wrapper {
        margin-top: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .navbar-default {
        background-color: #000;
    }

    header.heropicture {
        display: block;
    }

    header.herovideo {
        display: none;
    }

    .navbar-right {
        float: right !important;
        margin-right: 10px;
    }

    .navbar-default {
        padding: 15px 0;
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink li > a {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .navbar-shrink {
        padding-bottom: 0px;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 35px;

    }

    .navbar-default.navbar-shrink {
        font-size: 13px;
        padding-top: 8px;
        background-color: #000 !important;
        opacity: 0.9;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 2em;
    }

    header .intro-text {
        padding-top: 200px;
        padding-bottom: 235px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 68px;
        font-weight: 700;
        line-height: 75px;
    }

    .wrapper {
        margin-top: 80px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .navbar-default {
        background-color: #000;
    }

    header.heropicture {
        display: none;
    }

    header.herovideo {
        display: block;
    }

    .wrapper {
        margin-top: 80px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .navbar-default {
        background-color: #000;
    }

    header.heropicture {
        display: none;
    }

    header.herovideo {
        display: block;
    }

    .wrapper {
        margin-top: 80px;
    }
}